<h1><%= @title %></h1>

<section id="posts">
    <h3>Recent posts</h3>
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <% if admin? || current_user.id == post.user_id %>
          <h5><%= link_to get_title(post), edit_admin_post_path(post) %></h5>
        <% else %>
          <h5><%= get_title(post) %></h5>
        <% end %>
        <p class="date"><%= format_date(post.created_at, "long", true) %></p>
        <p><%= truncate(post.body, :length => 150) %></p>
      <% end %>
    <% else %>
      <p>No posts yet.</p>
    <% end %>
</section>

<section id="drafts">
  <h3>Drafts</h3>
  <% if @drafts.any? %>
    <% @drafts.each do |draft| %>
      <% if admin? || current_user.id == draft.user_id %>
        <h5><%= link_to draft.title, edit_admin_post_path(draft) %></h5>
      <% else %>
        <h5><%= draft.title %></h5>
      <% end %>
      <p class="date"><%= format_date(draft.created_at, "long", true) %></p>
      <p><%= truncate(draft.body, :length => 150) %></p>
    <% end %>
  <% else %>
    <p>No drafts.</p>
  <% end %>
</section>
