<%= render 'error_messages' %>
<div class="field">
  <p><%= f.label :title, "Title" %></p>
  <p><%= f.text_field :title %></p>
</div>

<div class="field">
  <p><%= f.label :body, "Body" %></p>
  <p><%= f.text_area :body, :size => "20x40" %></p>
</div>

<p class="drop-down">
  <%= f.label :draft, 'Status' %>
  <%= f.select(:draft, options_for_select([["Published", 0], ["Draft", 1]], (@post.new_record? ? 0: @post.draft))) %>
</p>

<%= f.hidden_field :user_id, :value => @post.user_id || current_user.id %>

<p class="button"><%= f.submit "Post", :disable_with => 'Posting...' %></p>
