<h1><%= @title %></h1>


<section id="new-posts" class="clearfix">
  <ul>
    <li><%= link_to "Text",  admin_new_post_path("text") %></li>
    <li><%= link_to "Image", admin_new_post_path("image") %></li>
    <li><%= link_to "Quote", admin_new_post_path("quote") %></li>
    <li><%= link_to "Link",  admin_new_post_path("link") %></li>
    <li><%= link_to "Audio", admin_new_post_path("audio") %></li>
    <li><%= link_to "Video", admin_new_post_path("video") %></li>
  </ul>
</section>

<% if @posts.any? %>
<table class="posts" summary="List of posts">
  <tr>
    <th><%# View Link %></th>
    <th>Title</th>
    <th>Body</th>
    <th>Created on:</th>
    <th>Updated on:</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td>
      <% if admin? %>
        <%= link_to "Delete", admin_post_path(post),
              :method => :delete,
              :confirm => "Are you sure you want to delete the post: #{post.title} ?!",
              :title => "Delete post: #{post.title}" %>
      <% end %>
      <%= link_to "View", admin_post_path(post) %>
    </td>
    <% if admin? || current_user.id == post.user_id %>
      <td><%= link_to truncate(post.title), edit_admin_post_path(post) %></td>
    <% else %>
      <td><%= truncate(post.title) %></td>
    <% end %>
    <td><%= truncate(post.body) %></td>
    <td><%= format_date(post.created_at, "short", true) %></td>
    <td><%= format_date(post.updated_at, "short", true) %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @posts %>
<% else %>
<p>There are no posts yet.</p>
<% end %>
