<p>Published on <%= format_date(@post.created_at) %> by <%= @post.user.username %></p>
<q cite="<%= @post.quote_source %>"><%= "&laquo;#{@post.quote}&raquo;".html_safe %></q>
<p class="quote-source"><%= @post.quote_source %></p>
