<h1><%= @title %></h1>

<% if @users.any? %>
<table class="users" summary="List of users">
  <tr>
    <th><%# View Link %></th>
    <th>Username</th>
    <th>Email</th>
    <th>Created on</th>
    <th>Updated on</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to "View", admin_user_path(user) %></td>
    <% if admin? || current_user.id == user.id %>
      <td><%= link_to user.username, edit_admin_user_path(user) %></td>
    <% else %>
      <td>user.username</td>
    <% end %>
    <td><%= user.email %></td>
    <td><%= format_date(user.created_at, true) %></td>
    <td><%= format_date(user.updated_at, true) %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @users %>
<% else %>
<p>There are no users yet.</p>
<% end %>
