<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "blueprint/screen", "admin/base" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <section>
    <nav>
      <p class="left"><%= link_to "Visit your site", root_url %></p>
      <p class="right">
        <% if logged_in? %>
          Logged in as <%= link_to current_user.username, admin_user_path(current_user) %> |
          <%= link_to "Log out", logout_path %>
        <% else %>
            <%= link_to "Log in", login_path %>
        <% end %>
      </p>
    </nav>
    </section>
  </header>

  <div class="container">
    <section>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </section>

    <% if defined?(Footnotes) && Rails.env.development? %>
      <%= Footnotes.run! %>
    <% end %>
  </div>
</body>
</html>
