<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <%# Basic Page Needs %>
  <%# ================================================== %>
  <meta charset="utf-8">
  <title><%= title %></title>

  <%# HTML Shiv for IE < 9 %>
  <%# ================================================== %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%# Skeleton Framework %>
  <%# ================================================== %>
  <%= stylesheet_link_tag "base", "skeleton", "layout" %>

  <%# My CSS %>
  <%# ================================================== %>
  <%= stylesheet_link_tag "application" %>

  <%# Favicons %>
  <%# ================================================== %>
  <%#<link rel="shortcut icon" href="images/favicon.ico">%>
  <%#<link rel="apple-touch-icon" href="images/apple-touch-icon.png">%>
  <%#<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">%>
  <%#<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">%>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if logged_in? %>
      <section id="user-bar">
        <div>
          <p class="left"><%= link_to "Dashboard", dashboard_path %></p>
          <p class="right">Logged in as <%= link_to current_user.username, admin_user_path(current_user) %></p>
        </div>
      </section>
    <% end %>
  </header>
  <div class="container">
    <%= yield %>
    <%= debug params if Rails.env.development? %>
  </div>
</body>
</html>
